@import url("./colors.css");

* {
  border: none;
  border-radius: 0;
  font-family: FontAwesome, JetBrains Mono Nerd Font;
  font-size: 10pt;
  min-height: 16px;
}

window#waybar {
  background: transparent;
  color: @foreground;

  padding: 2px;
}

window#waybar.hidden {
  opacity: 0.2;
}


#workspaces button {
  padding: 0 10px;
  background: @background;
  color: @foreground;
}

#workspaces button.urgent {
  background-image: linear-gradient(0deg, @red, @background-darker);
}

#clock {
  padding: 4px;
  background: @background;
}


#workspaces {
  margin-right: 8px;
  border-radius: 10px;
  transition: none;
  background: #383c4a;
}

#workspaces button {
  transition: none;
  color: #7c818c;
  background: transparent;
  padding: 5px;
  font-size: 18px;
}

#workspaces button.persistent {
  color: #7c818c;
  font-size: 12px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  border-radius: inherit;
  color: #383c4a;
  background-image: linear-gradient(0deg, @selection, @background-darker);
}

#workspaces button.active {
  background-image: linear-gradient(0deg, @purple, @selection);
  color: white;
  border-radius: inherit;
}

#language {
  padding: 0 8px;
  border-radius: 10px;
  transition: none;
  border: 1px solid @purple;
  color: @foreground;
  background: @background;
}

#keyboard-state {
  margin-right: 8px;
  padding-right: 16px;
  border-radius: 0px 10px 10px 0px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

#custom-pacman {
  padding-left: 16px;
  padding-right: 8px;
  border-radius: 10px 0px 0px 10px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

#custom-mail {
  margin-right: 8px;
  padding-right: 16px;
  border-radius: 0px 10px 10px 0px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

#submap {
  padding: 0 8px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

#clock {
  padding: 0 8px;
  border-radius: 10px;
  border: 1px solid @purple;
  transition: none;
  color: #ffffff;
  background: @background;
}

#pulseaudio {
  margin-right: 8px;
  padding: 0 8px;
  border: 1px solid @purple;
  border-radius: 10px;
  transition: none;
  color: @foreground;
  background: @background;
}

#pulseaudio.muted {
  background-color: @red;
  color: #2a5c45;
}

#memory {
  margin-right: 8px;
  padding: 0 8px;
  border-radius: 10px;
  border: 1px solid @purple;
  transition: none;
  color: @foreground;
  background: @background;
}

#cpu {
  margin-right: 8px;
  padding: 0 8px;
  border-radius: 10px;
  border: 1px solid @purple;
  transition: none;
  color: @foreground;
  background: @background;
}

#temperature {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: @foreground;
  background: @background;

}

#temperature.critical {
  background-color: #eb4d4b;
}

#backlight {
  margin-right: 8px;
  padding: 0 8px;
  border-radius: 10px;
  border: 1px solid @purple;
  transition: none;
  color: @foreground;
  background: @background;
}

#network {
  margin-right: 8px;
  padding: 0 8px;
  border-radius: 10px;
  border: 1px solid @purple;
  transition: none;
  color: @foreground;
  background: @background;
}

#battery {
  margin-right: 8px;
  padding: 0 8px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

#battery.charging {
  color: @background;
  background-color: @green;
}

#battery.warning:not(.charging) {
  background-color: #ffbe61;
  color: black;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  border: 1px solid @purple;
  transition: none;
  color: @foreground;
  background: @background;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
